<div class="my-box">
    <h2>Prognoza pogody na żywo</h2>
    <label for="city">Określ miejscowość (polskie znaki są OK):</label>
    <input type="text" name="city" id="city" [(ngModel)] = "location" /> <!-- two way data binding -->
    <p *ngIf="isEmptyLocationName" class="error-text">Pole miejscowości jest wymagane!</p> 
    <p>(test wpisywanej zawartości: <strong>{{ location }}</strong>)</p>
    <button (click) = "handleSearch()" >Sprawdź </button>

    <div *ngIf="isLocationRequestDoneOK" >
        <hr />
        <h2>Bieżące wskazania temperatury, odczytane z serwera pogody dla lokalizacji <em>{{ typedLocation }}</em></h2>
        <h3>Temperatura: {{ onvertKelvinsToCelsius( weatherData.main.temp ) }} °C (dla fizyków: {{ weatherData.main.temp }} K)</h3>
    </div>

    <div *ngIf="isLocationRequestError" >
        <h2>Odczytane z serwera dane</h2>
        <h3 class="error-text">BŁĄD: nie udało się odnaleźć podanej lokalizacji <em>{{ typedLocation }}</em>, zatem nie odczytano warunków pogodowych!</h3>
        <p>Szczegóły błędu: <strong>{{ weatherData.cod }}</strong> - <em>{{ weatherData.message }}</em>.</p>
    </div>

</div>
