<div class="my-box">
    <form (submit)="handleSearch()">
        <h2>Prognoza pogody na żywo</h2>
        <label for="city">Określ miejscowość (polskie znaki są OK):</label>
        <input type="text" name="city" id="city" [(ngModel)]="location" (submit)="handleSearch()" /> <!-- two way data binding -->
        <p *ngIf="isEmptyLocationName" class="error-text">Pole miejscowości jest wymagane!</p> 
        <button>Sprawdź</button>        
    </form>


    <div *ngIf="isLocationRequestError" >
        <br />
        <h2>Nieudana komunikacja z serwerem</h2>
        <h3 class="error-text">BŁĄD: nie udało się odnaleźć podanej lokalizacji <em>{{ typedLocation }}</em>, zatem nie odczytano warunków pogodowych!</h3>
        <p>Szczegóły błędu: <strong>{{ weatherData.cod }}</strong> - <em>{{ weatherData.message }}</em>.</p>
    </div>

    <!-- <small>przesunięcie strefy czasowej do GMT [s]: <strong>{{ userTimezoneOffset }}</strong></small> -->
</div>

<div *ngIf="isLocationRequestDoneOK" >

    <app-weather-condition [currentWeather]="weatherData" [enteredLocation]="typedLocation" [timezoneOffsetToGMT]="userTimezoneOffset"></app-weather-condition>

    <app-daily-forecast [forecastWeather]="forecastData" [simplifiedForecast]="simplifiedForecastData"></app-daily-forecast>

</div>
