h2 {
    font-size: 2em;
}

h2 > span:last-child {
    color: #333;
}

.forecast-conatiner {
    margin: 0 0.25em;
}

.day-container {
    padding: 1em;
    margin: 1.25em auto;
    max-width: 1315px;
    background-color: #eee;
    border: 2px solid #333;
    border-radius: 1em;
    text-align: center;
}

.hours-box {
    margin: 0.5em auto;
    /* padding: 0.5em; */
    padding-left: 0;
    max-width: 1277px; /* jako mnożenie szerokości ~160px * 8 elementów - dopasowanie*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    background-color: #eee;
}

.readings {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    max-width: 300px;
    flex-wrap: wrap;
    flex-grow: 1.5;
    background-color: #ccc;
    border: 1px solid #ccc;
    margin: 0 0.25em 1.5em;
}

.description-text {
    min-height: 4em;
}

.velocity-text {
    min-height: 3.4em;
}

.readings > div:nth-child(2n) {
    background-color: #eee;
}

.readings > div:first-child > strong,
.readings > div:nth-child(2) > strong,
.readings > div:last-child > strong
{
    font-size: 1.25em;
}

.readings > div:nth-child(5) > strong {
    font-size: 1.15em;
}

.content-right {
    justify-content: flex-end;
}