h2 {
    font-size: 2em;
}

h2 > span:last-child {
    color: #333;
}

.forecast-container {
    margin: 0 0.25em;
}

.day-container {
    padding: 1em 1em 0;
    margin: 1.25em auto;
    max-width: 1315px;
    background-color: #eee;
    border: 2px solid #333;
    border-radius: 1em;
    text-align: center;
}

.hours-box {
    margin: 0 auto;
    margin-top: 0.5em;
    /* padding: 0.5em; */
    padding-left: 0;
    max-width: 1277px; /* jako mnożenie szerokości ~160px * 8 elementów - dopasowanie*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    background-color: #eee;
}

.readings {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    max-width: 300px;
    flex-wrap: wrap;
    flex-grow: 1.5;
    background-color: #ccc;
    border: 1px solid #ccc;
    margin: 0 0.25em 1.5em;
}