section {
    position: relative;
    background-color: #fff;
    width: 565px;
    max-width: 565px;
    overflow: hidden;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

section span.nav {
    position: absolute;
    width: 46px;
    height: 46px;
    bottom: 18px;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ccc;
    font-size: 42px;
    font-weight: bold;
    line-height: 36px;
    border: 1px solid transaprent;
    border-radius: 50%;
    text-align: center;
    transition: opacity 0.4s 0.1s, color 0.3s 0.1s, border-color 0.3s 0.05s;
}

section span.nav.prev {
    left: 0.3em;
}

section span.nav.next {
    right: 0.3em;
}

section span.prev:hover,
section span.next:hover
{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(0, 0, 0.8);
    border-color: red;
    color: yellow;
}

.preview {
    display: block;
    margin-top: 2em;
    width: 100%;
    min-height: 365px;
    max-height: 365px;
    transition: outline 0.1s;
}

.thumb {
    width: 100px;
    height: 60px;
}

section h2 {
    height: 1.67em; /* ==40/24, zapobiegnie zmianie wysokości, gdyt więcej tekstu lub "szerzej" */
    margin-top: 0;
    padding: 0.25em;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #ddd;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.4s 0.05s, background-color 0.3s 0.05s, letter-spacing 0.3s;
}

section h2 > span {
    padding-left: 0.4em;
    color: #666;
    position: static;
    letter-spacing: 0;
}

ul {
    list-style: none;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}

li {
    float: left;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 0.7em;
    line-height: 0.8em; /* to wywali tę linię POD miniaturą */
    /* margin-bottom: 5px; */
    /* border: 2px solid transparent; */
}

li:hover {
    cursor: pointer;
    opacity: 0.6;
    outline-color: #111;
}

li:last-of-type {
    margin-right: 0;
}

li.active {
    opacity: 0.5;
    /* border-color: red; */
    outline: 2px solid #222;
}

li.active:hover {
    opacity: 0.7;
    /* border-color: red; */
    outline-color: #111;
}

.image-title {
    text-align: center;
    font-style: italic;
    padding-top: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    min-height: 3.6em;
    max-height: 3.6em;
    overflow: hidden;
    padding-left: 3.6em;
    padding-right: 3.6em;
}

.hide {
    display: none;
}

section h2.paused-notification {
    background-color: #aaa; /* atrybut potrzebował SILNIEJSZEGO selektora niż samą klasę (po zmianie "section h2") */
    color: #eee;    /* pozostałe atrybuty dziedziczone się przenosiły i animowały, mimo słabszego selektora klasy */
    letter-spacing: 0.75em;
}

.paused-border {
    outline: 2px solid #999;    
    cursor: progress;
}

.progress {
    width: 0%;
    height: 5px;
    margin-bottom: 0.5em;
    background: linear-gradient(to right, #666, #4caf50) #4caf50;
    text-align: center; 
    line-height: 30px;  /* ta i wcześniejsza zasada pozwoli tu ewentualnie wklejać LICZBOWĄ WAERTOŚĆ PROCENTOWĄ dla trwającej operacji*/
    color: white;
}

.animate-progress-increase {
    animation: anim-progress-increase 3s linear forwards infinite;
}

.animate-progress-decrease {
    animation: anim-progress-decrease 1s linear forwards;
}


@keyframes anim-progress-increase {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes anim-progress-decrease {
    to {
        width: 0;
    }
}