<section>
    <h2>Angularowa Galeria <span>({{ currentIndex + 1 }})</span></h2> <!-- da się pisać wyrażenia, a nie tylko listować zmienne -->

    <ul>
        <li *ngFor="let picture of pictures; let i = index" [class.active]="currentIndex === i">    <!--"index" to wewnątrzna zmienna dla pętli! -->
            <img [src] = "picture" alt="picture" class="thumb"  (click) = "handleClick(i)" />
        </li>
    </ul>

        <!--  tu ukryje ten element na pierwszym slajdzie! -- UŻYCIE dynamicznego przełączania klas ze zdefiniowanym wyświetlaniem-->
    <span class="nav prev" [class.hide] = "currentIndex === 0" (click) = "handlePrev(currentIndex - 1)" >&lArr;</span> 

    <!-- warunki logiczne WARTO na DYREKTYWIE "*ngIf" -- ale teraz to POKAŻE SIĘ TEN ELEMENT GDYT PRAWDA 
        (+): nie potrzeba przypinać jakiejś dodatkowej definicji klasy, jak "hide"!  -->
    <span class="nav next" *ngIf = "currentIndex < ( pictures.length - 1 )" (click) = "handleNext(currentIndex + 1)" >&rArr;</span> <!-- też ukrywa -->

    <!-- poniżej działający uprzednio przykład z dynamicznym przypisywaniem zdefiniowanych klas - POWIELENIE ELEMENTU !!! -->
    <!-- <span class="nav next" [class.hide] = "currentIndex === ( pictures.length - 1 )" (click) = "handleNext(currentIndex + 1)" >&rArr;</span>  -->

    <img [src]="pictures[currentIndex]" class="preview" alt="[currentIndex]" title="[currentIndex]" />

</section>



<!-- <section>
    <h2>Angularowa Galeria</h2>
 
    <ul>
        <li *ngFor = "let picture of pictures; let i = index" >
            <img [class.selected] = "selectedIndex === i" [src] = "picture" />
        </li>
    </ul>

    <div>
       <img [ src ] = "selectedPicture" />
    </div>

</section> -->
