<section>
    <h2 [class.paused-notification]="isPaused">{{ isPaused ? "P A U Z A" : "Angularowa Galeria" }} <span>({{ currentIndex + 1 }})</span></h2> <!-- da się pisać wyrażenia, a nie tylko listować zmienne -->
        <!-- PONIŻSZY zapis operuje WARUNKOWYM POKAZYWANIEM !INNYCH! elmementów, przez co nie działają ustawione na nich animacje!!! --> 
    <!-- <h2 *ngIf="!isPaused">Angularowa Galeria <span>({{ currentIndex + 1 }})</span></h2> -->
    <!-- <h2 *ngIf="isPaused" class="pause-notification">PAUZA <span>({{ currentIndex + 1 }})</span></h2> -->
    <ul>
        <li *ngFor="let picture of pictures; let i = index" [class.active]="currentIndex === i">    <!--"index" to wewnętrzna zmienna dla pętli! -->
            <img [src] = "picture.url" alt = "{{ i + 1 }}: {{picture.alt}}" title = "{{ i + 1 }}: {{picture.alt}}" class="thumb" (click) = "handleClick(i)" />
        </li>
    </ul>

        <!--  tu ukryje ten element na pierwszym slajdzie! -- UŻYCIE dynamicznego przełączania klas ze zdefiniowanym wyświetlaniem-->
    <span class="nav prev" [class.hide]="currentIndex === 0" (click)="handlePrev()" >&lArr;</span> 

    <!-- warunki logiczne WARTO OKREŚLAĆ na DYREKTYWIE "*ngIf" -- ale teraz to POKAŻE SIĘ TEN ELEMENT GDYT PRAWDA -- WARUNKOWE WYŚWIETLANIE TREŚCI
        (+): nie potrzeba przypinać jakiejś dodatkowej definicji klasy, jak "hide"!  
        (+/-): działa w oparciu o jakiś AKTUALNIE PRAWDZIWY warunek lub STAN zmiennej, BY POKAZAĆ DANY ELEMENT-->
    <span class="nav next" *ngIf="currentIndex < ( pictures.length - 1 )" (click)="handleNext()" >&rArr;</span> <!-- też ukrywa -->

    <!-- poniżej działający uprzednio przykład z dynamicznym przypisywaniem zdefiniowanych klas - POWIELENIE ELEMENTU !!! -->
    <!-- <span class="nav next" [class.hide] = "currentIndex === ( pictures.length - 1 )" (click) = "handleNext(currentIndex + 1)" >&rArr;</span>  -->

    <!-- <img [src]="pictures[currentIndex]" class="preview" [alt] = "currentIndex" [title] = "currentIndex" /> --> 
            <!-- przyjrzeć się [ALT] i {{ COŚ + 1 }} -=-OBIE DEFINICJE DZIAŁAJĄ PRAWIDŁOWO-->
    <img [src]="pictures[currentIndex].url" class="preview" alt="Podgląd z nru {{ currentIndex + 1 }}"
        title="Podgląd z nru {{ currentIndex + 1 }}"
        [class.paused-border]="isPaused"
        (mouseenter)="stopSlideshow()"
        (mouseleave)="startSlideshow()" />
    <p class="image-title">{{ currentIndex + 1 }}. {{pictures[currentIndex].alt}}</p>
    
</section>



<!-- <section>
    <h2>Angularowa Galeria</h2>
 
    <ul>
        <li *ngFor = "let picture of pictures; let i = index" >
            <img [class.selected] = "selectedIndex === i" [src] = "picture" />
        </li>
    </ul>

    <div>
       <img [ src ] = "selectedPicture" />
    </div>

</section> -->
