<section>
    <h2>Angularowa Galeria ({{ currentIndex + 1 }})</h2> <!-- da się pisać wyrażenia, a nie tylko listować zmienne -->

    <ul>
        <li [class.active]="currentIndex === 0">
            <img [src] = "pictures[0]" alt="" class="thumb"  (click) = "handleClick(0)" />
        </li>
        <li [class.active]="currentIndex === 1">
            <img [src] = "pictures[1]" alt="" class="thumb" (click) = "handleClick(1)" />
        </li>
        <li [class.active]="currentIndex === 2">
            <img [src] = "pictures[2]" alt="" class="thumb" (click) = "handleClick(2)" />
        </li>
    </ul>

    <span class="prev"><</span>
    <span class="next">></span>

    <img [src]="pictures[currentIndex]" class="preview" />

</section>



<!-- <section>
    <h2>Angularowa Galeria</h2>
 
    <ul>
        <li *ngFor = "let picture of pictures; let i = index" >
            <img [class.selected] = "selectedIndex === i" [src] = "picture" />
        </li>
    </ul>

    <div>
       <img [ src ] = "selectedPicture" />
    </div>

</section> -->
