<div class="current-weather">
    <h1>{{ enteredLocation }}</h1>
    <p>dopasowana lokalizacja: <strong>{{ currentWeather.name }}</strong><br /> 
       kod kraju: <strong>{{ currentWeather.sys.country }}</strong><br />
       strefa czasowa: <strong>{{ ( currentWeather.timezone >= 0 ) ? "+" : '-' }}{{ currentWeather.timezone / 3600 }}</strong>h)<br />
       wschód słońca: <strong>{{ convertTimestampToTimeString( currentWeather.sys.sunrise ) }}</strong><br />
       zachód słońca: <strong>{{ convertTimestampToTimeString( currentWeather.sys.sunset ) }}</strong><br />
       godzina zapytania: <strong>{{ convertTimestampToTimeString( currentWeather.dt ) }}</strong><br />
    </p> 
    <h2>Aktualna prognoza: <strong>{{ currentWeather.weather[0].main }}</strong>, <em>{{ currentWeather.weather[0].description }}</em></h2>
        <img src="https://openweathermap.org/img/wn/{{ currentWeather.weather[0].icon }}@2x.png" 
            alt="{{ currentWeather.weather[0].description }}" />
    <h4>temperatura: <strong>{{ convertKelvinsToCelsius( currentWeather.main.temp ) }}</strong> &deg;C
        (odczuwalna: <strong>{{ convertKelvinsToCelsius( currentWeather.main.feels_like ) }}</strong> &deg;C,
        minimalna: <strong>{{ convertKelvinsToCelsius( currentWeather.main.temp_min ) }}</strong> &deg;C, 
        maksymalna: <strong>{{ convertKelvinsToCelsius( currentWeather.main.temp_max ) }}</strong> &deg;C)
    </h4>
    <p>
        ciśnienie powietrza: <strong>{{ currentWeather.main.pressure ? currentWeather.main.pressure : "---" }}</strong> hPa<br />
        wilgotność powietrza: <strong>{{ currentWeather.main.humidity ? currentWeather.main.humidity : "--- "}}</strong>%<br />
        prędkość wiatru: <strong>{{ currentWeather.wind.speed ? currentWeather.wind.speed : "---" }}</strong> m/s 
            (<strong>{{ currentWeather.wind.speed ? convertVelocityToKPH( currentWeather.wind.speed ) : "---" }}</strong> km/h)<br />
        kierunek wiatru: <strong>{{ currentWeather.wind.deg ? currentWeather.wind.deg : "--- " }}</strong>&deg;<br />
        przejrzystość powietrza: <strong>{{ currentWeather.visibility ? currentWeather.visibility / 1000 : "---" }}</strong> km<br />
    </p>
</div>
