<div class="current-weather">
    <div>
        <h2 class="main-title">Bieżące warunki pogodowe<span>, stan z <strong>{{ convertTimestampToTimeString( currentWeather.dt ) }}</strong>
            </span>
            <span *ngIf=" convertTimestampToTimeStringIncludingLocationOffset( currentWeather.dt ) != convertTimestampToTimeString( currentWeather.dt )">
                (lokalnie: <strong> {{ convertTimestampToTimeStringIncludingLocationOffset( currentWeather.dt ) }}</strong>)
            </span>
        </h2>
        <div>
            <div class="main-info">
                <img src="https://openweathermap.org/img/wn/{{ currentWeather.weather[0].icon }}@2x.png" 
                alt="{{ currentWeather.weather[0].description }}" />
                <div>
                    <h2 title="wartość dla fizyków: {{ currentWeather.main.temp }} K">
                        <strong class="big-number">{{ convertKelvinsToCelsius( currentWeather.main.temp ) }}</strong> &deg;C
                    </h2>
                    <h2>{{ currentWeather.weather[0].description }}</h2>
                </div>
            </div>
            <div class="location-info">
                <h1 title="szerokość geograficzna: {{ currentWeather.coord.lat }}, długość geogr.: {{ currentWeather.coord.lon }}">{{ enteredLocation }}</h1>
                <div>
                    <p>
                        <span *ngIf="enteredLocation != currentWeather.name">(<strong>{{ currentWeather.name }}</strong>)</span> 
                        <strong>{{ ( enteredLocation != currentWeather.name ) ? ", " : "" }}{{ currentWeather.sys.country }}</strong>
                    </p>  
                </div>
            </div>
          
        </div>
        <div class="temp-info">
            <h3>Temperatura</h3>
            <ul>
                <li>odczuwalna: <strong>{{ convertKelvinsToCelsius( currentWeather.main.feels_like ) }}</strong> &deg;C</li>
                <li>minimalna: <strong>{{ convertKelvinsToCelsius( currentWeather.main.temp_min ) }}</strong> &deg;C</li>
                <li>maksymalna: <strong>{{ convertKelvinsToCelsius( currentWeather.main.temp_max ) }}</strong> &deg;C</li>
            </ul>
        </div>
    </div>
        <div class="air-info">
            <ul>
                <li>ciśnienie powietrza: <strong>{{ currentWeather.main.pressure ? currentWeather.main.pressure : "---" }}</strong> hPa</li>
                <li>zachmurzenie: <strong>{{ ( currentWeather.clouds.all || currentWeather.clouds.all == 0 ) ? currentWeather.clouds.all : "---" }}</strong>%</li>
                <li>wilgotność powietrza: <strong>{{ currentWeather.main.humidity ? currentWeather.main.humidity : "--- "}}</strong>%</li>
            </ul>
            <ul>   
                <li>prędkość wiatru: <strong>{{ currentWeather.wind.speed ? currentWeather.wind.speed : "---" }}</strong> m/s 
                    (<strong>{{ currentWeather.wind.speed ? convertVelocityToKPH( currentWeather.wind.speed ) : "---" }}</strong> km/h)</li>
                <li>kierunek wiatru: <strong>{{ currentWeather.wind.deg ? currentWeather.wind.deg : "--- " }}</strong>&deg;</li>
                <li>przejrzystość powietrza: <strong>{{ currentWeather.visibility ? currentWeather.visibility / 1000 : "---" }}</strong> km</li>
            </ul>
        </div>

    <div>
        <!-- <h2>Aktualna prognoza: <strong>{{ currentWeather.weather[0].main }}</strong>, <em>{{ currentWeather.weather[0].description }}</em></h2> -->

        <div class="footer-notes">
            <h3>Kalendarium</h3>
            <ul>
                <li>
                    wschód słońca: 
                    <strong>{{ convertTimestampToTimeStringIncludingLocationOffset( currentWeather.sys.sunrise ) }}</strong>
                    <span *ngIf=" convertTimestampToTimeStringIncludingLocationOffset( currentWeather.sys.sunrise ) != convertTimestampToTimeString( currentWeather.sys.sunrise )">
                        (względnie: <strong>{{ convertTimestampToTimeString( currentWeather.sys.sunrise ) }}</strong>)
                    </span>
                </li>
                <li>
                    zachód słońca: 
                    <strong>{{ convertTimestampToTimeStringIncludingLocationOffset( currentWeather.sys.sunset ) }}</strong>
                    <span *ngIf=" convertTimestampToTimeStringIncludingLocationOffset( currentWeather.sys.sunset ) != convertTimestampToTimeString( currentWeather.sys.sunset )">
                        (względnie: <strong> {{ convertTimestampToTimeString( currentWeather.sys.sunset ) }}</strong>)
                    </span>
                </li>
                <li>
                    długość dnia: <strong>{{ convertTimestampToTimeString( currentWeather.sys.sunset - currentWeather.sys.sunrise ) }}</strong>h
                </li>

                <li>
                    strefa czasowa: <strong>{{ ( currentWeather.timezone >= 0 ) ? "+" : '' }}{{ currentWeather.timezone / 3600 }}</strong>h
                </li>
                <li *ngIf="currentWeather.timezone + timezoneOffsetToGMT != 0">strefa czasowa użytkownika: 
                    <strong>{{ ( timezoneOffsetToGMT < 0 ) ? "+" + ( timezoneOffsetToGMT / (-3600) ) : ( timezoneOffsetToGMT / 3600 ) }}</strong>h
                </li>
                <li>(base: <strong>{{ currentWeather.base ? currentWeather.base : "---" }}</strong>, sys.type: <strong>{{ currentWeather.sys.type ? currentWeather.sys.type : "---" }}</strong>)</li>
            </ul>
        </div>    
     </div>  

</div>
