/* reset marginesów */
/* h1, h2, h3, h4, h5, h6, ul, p 
{
    margin: 0 auto;
} */

h2 > span {
    font-size: 0.75em;
    font-weight: 600;
}

.current-weather {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 5px auto;
    padding: 1em;
    background-color: #ddd;
    border: 2px solid #333;
    border-radius: 1em;
    overflow: hidden;
}


.current-weather ul {
    padding-left: 0;
}


.current-weather li {
    list-style: none;
}

.big-number {
    font-size: 2em;
    color: #333;
    margin-bottom: -0.5em;
}

.main-title {
    margin: -0.5em -1em 0;
    padding: 0.25em 0.5em 0.4em;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    background-color: #f8f8f8;
}

.main-info {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.main-info img {
    /* display: inline-block; */
    width: 100%;
    max-width: 100px;
    /* margin: 0 auto; */
}

.main-info > div {
    background-color: #eee;
}

.main-info > div > h2:first-child {
    cursor: help;
}

.main-info > div > h2:last-child {
    line-height: 1em;
}

.location-info {
    text-align: right;
    font-size: 1.25em;
    background-color: #eee;
}

.location-info > h1 {
    cursor: help;
}

.location-info span strong {
    font-weight: bolder;
    color: #555;
}

.temp-info,
.footer-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin: 0 -1em;
    padding: 0.5em 0;
}

.temp-info {
    background-color: #f8f8f8; 
    background-color: rgba(248, 248, 248, 0.75);
    margin-top: 0.75em;
}

.temp-info strong {
    font-size: 1.5em;
    line-height: 0.8em;
}

.air-info {
    padding: 1em 0;
}

/* .air-info ul {
    margin: 0 auto;
} */

.air-info ul:first-child li:nth-of-type(2n),
.air-info ul:last-child li:nth-of-type(2n+1)
{
    background-color: #eee;
    margin: 0 0.5em;
}


.footer-notes {
    display: flex;
    align-items: center;
    align-content: space-between;
    /* vertical-align: middle; */
    margin: 0 -1em -1em;
    /* padding-top: 0.75em; */
    padding-bottom: 0.5em;
    line-height: 1em;
    text-align: center;
    background-color: #f8f8f8; 
}

.temp-info h3,
.footer-notes h3
{
    margin: 1em;
    /* vertical-align: middle; */
}

/* .temp-info h3 {
    flex-basis: 6em;
} */


.temp-info ul,
.footer-notes ul
{
    display: flex;
    /* flex-basis: 6em; */
    /* flex-basis: 10em; */
    /* flex-wrap: wrap; */
    align-items: center;
    margin-right: 0.5em;;
}

.temp-info ul li,
.air-info ul li,
.footer-notes ul li
{
    background-color: #ddd;
    padding: 0.25em;
}

.air-info ul strong,
.footer-notes ul strong
{
    font-size: 1.25em;
}


/*  ========= KWERENDY ========= */

@media screen and (min-width: 320px) {
    .main-info {
        flex-direction: row;
    }

    /* .main-info img {
        margin: 0;
    } */

    .main-info > div {
        margin-left: 1em;
        text-align: left;
        /* min-width: 10em; */
    }


    .temp-info,
    .footer-notes {
        flex-direction: row;
    }

    .temp-info ul,
    .footer-notes ul
    {
        flex-direction: row;
        /* flex-basis: 10em; */
        flex-grow: 2;
        flex-wrap: wrap;
        align-items: center;
    }

    .temp-info ul li,
    .air-info ul li,
    .footer-notes ul li
    {
        margin-left: 0.5em;
        margin-right: 0.5em;
        flex-grow: 2;
        flex-basis: 170px;
    }


    .footer-notes h3 {
        flex-basis: 6em;
        margin: 0.75em 1em;
    }

}


/* 
@media screen and (min-width: 450px) {

    
} */



@media screen and (min-width: 700px) {
    h2.main-title + div {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
    }

    .location-info {
        margin-left: auto;
    }

    .air-info {
        display: flex;
        justify-content: space-between;
    }
    
    .air-info > ul {
        width: 49%;
        padding: 0 0.5em;
    }

    .air-info ul:last-child {
        text-align: right;
    }

}