h1 > span {
    font-size: 0.75em;
}

.filler {
    width: 100%;
    height: 150%;
    min-height: 100vh;
    padding: 1.5em 1em 2em;
    /* margin: 1em -1em 0 -1em; */
    transition: background-color 0.5s 0.05s;
}

.bgc-gallery {
    background-color: #ccf6cc;
}

.bgc-weather {
    background-color: #ccf;
}

.outer-box {
    /* display: flex;
    flex-direction: column; */

    /* padding-bottom: 2em; */
}

/* .outer-box > div {
    margin: 1em;
    padding: 0 1em;
        /* flex-basis: 300px; 
} */

/* .outer-box > div:first-of-type {
    margin-bottom: 3em;
} */

/* .outer-box > div:not(:first-of-type) {
    border-top: 2px solid #666;
            /* border-left: none; 
    padding: 1em 3em; 
    margin: 0 1em;
} */

/* .outer-box > div > h2 {
    line-height: 1.1em;
}


@media screen and (min-width: 1000px) {
    .outer-box {
        flex-direction: row;
    }
    
    .outer-box > div:not(:first-of-type) {
        border-top: none;
        border-left: 2px solid #666;
        padding: 1em 3em; 
        margin: 0 1em;
    }
} */