/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f7fff7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
